# General ignores files and folders
Docs/
.vscode/

# AntKeeper project ingored files
AntKeeper/pico_sdk_import.cmake
AntKeeper/.vscode/
AntKeeper/build/

# Develop proof project ingored files
DevelopProofs/